
.slide-img1{
    margin: auto;
    max-height: 100%;
    max-width: 100%;
}

.wrapper1 {
  margin: 0 auto;
    display: flex;
    justify-content: center;
    height: 600px;
    width: 80%;
 }

  .alice-carousel__dots{
    margin: 0 auto;
    width: fit-content;
 }
 .carousel-div{
 display: flex;
 justify-content: center;
  width: 100%;
 } 
  .left, .right{
    position: relative;
    background-color: red;
    align-content: 0 center;
    margin: 0 auto;
    margin-top: -200px;
    height: 20px;
  }

.thumbnails-div{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  /* border: solid black 1px; */
  width: 70%;
  max-width: 1200px;
  padding-bottom: 40px;
}

.thumbnail-image {
    display: block; 
    width: auto;
    height:80px;
}

/* .thumbnails .thumbnail-image{
  height: 100%;
  width: 100%;
  object-fit: cover;  
} */
.img-btn1 {
  padding: 0px;
  margin: 4px;
  width:fit-content;
  height: fit-content;
  border: none;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.img-btn1:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.social-btns{
  border-radius: 3px;
  width: fit-content;
  height:40px ;
  position: fixed;
  margin: 0 auto;
  bottom: 0;
  margin-bottom: 12px;
  padding: 4px;
  background-color: rgba(65, 65, 65, 0.39);
}
.facebook-btn{
  /* width: 0px; */
  height: 20px;
  border: 0px;
  margin-bottom: 30px;
  margin-left: 4px;
  margin-right: 4px;
  padding: 0;
  
}

.social-icon--facebook, .social-icon--whatsapp, .social-icon--email{
  border: solid rgb(202, 202, 202) 1px;
  /* margin-bottom: 5px; */  
}
.SocialMediaShareButton{
  padding: 0;
  margin : 0 auto;
  margin-bottom: 5px;
}

.SocialMediaShareButton:hover{
  transform: scale(1.1);
}

@media (min-width: 320px) and (max-width: 480px){
    .thumbnails-div{
      display: none;
    }
    
    
  }
  