
.img-btn {
    margin: 4px;
    width:300px;
    height: 340px;
    object-fit: cover;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .img-btn:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }

.img-div{
    min-width: 300px;
    border-radius:0px;
}

.modal-img-div{
    
        margin: 0 auto;
          display: flex;
          justify-content: center;
          /* height: 70%;
          max-width: 100%; */
}

.photo-container{
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative; 
    
}

.close-btn-modal{
    background-color: rgb(160, 86, 16);
    color: white;
    margin: 0 center;
    text-align: center; 
    border: solid rgb(112, 49, 6) 1px;
}

.close-btn-modal:hover{
    background-color: rgb(63, 63, 63);
    color: orange;
}
.ReactModal__Content{
    object-fit: contain;
    width: fit-content;
    height: fit-content;
}

@media screen and (max-width: 500px) {
    .modal-img-div{
        width: 500px;
        height: 500px;
    }
    
  }
  

