.nav-user{
    display: flex;
    justify-content: space-between;
    /* align-items: baseline; */
    padding: 20px;
    border-top: 7px solid black;
    position: fixed;
    top: 0;
    height: 100px;
    /* padding-bottom: ; */
    width: 100vw;
    background: #ffffff;
    /* background: #0c0c0c; */
    z-index: 100;
    color: rgb(58, 58, 58);
}
.img-logo{
    width: 500px;
    margin-top: -10px;
}
.WNP-header{
    font-size: 50px;
    height: content;
    margin: 0 auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.nav-user .navbar-logo{
    position: absolute;
    top: 5px;
    left: 5px;
    color: rgb(58, 58, 58);
}

.md-logo{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.nav-user ul{
    position: absolute;
    top: 5px;
    right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    list-style-type: none;
    
}


@import url('https://fonts.googleapis.com/css?family=Oswald');
.nav-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    font-size: 50px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Oswald', sans-serif;
    background: black;
}

@media screen and (max-width: 600px) {
.img-logo{
    width: 400px;
    margin-top: -20px;
}
.nav-user{
    height: 76px;
    padding: 0px;
    padding-top: 10px;
}
}