
.about-main-div{
    margin: 0 auto;
    /* width: 100%; */
    max-width: 1200px;
    margin-top: 40px;
    border-bottom: solid rgb(218, 218, 218) 1px;
    border-top: solid rgb(218, 218, 218) 1px;
    /* background-image: url('../../Navbar-user/background.png'); */

}
.about-wraper{
    display: flex;
    justify-content: left;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    /* border: solid rgb(187, 187, 187) 1px; */
    padding-bottom: 30px;
}

.img-div-about{
    margin-top: 20px;
    /* border: solid rgb(202, 202, 202) 1px; */
}

.img-about{
    width: 400px;
}

.p-about-div{
    /* width: 60%; */
    color: rgb(63, 63, 63);
    font-weight: 300;
    word-spacing: 1.6px;
    margin-left: 30px;
    margin-top: 15px;
    text-align: justify;
    /* border: solid rgb(202, 202, 202) 1px; */
}

.header-about{
    color: rgb(197, 127, 70);
    font-size: 26px;
    height: 36px;
    padding-top: 10px;
    /* margin-left: 30px; */
    width: 100%;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.social-icon{
    /* border-top: solid rgb(199, 100, 19) 4px; */
    /* border-top: solid rgb(221, 221, 221) 1px; */
    /* background-color: rgb(199, 100, 19); */
    /* background-color: rgb(247, 247, 247); */
    background-color: rgb(247, 247, 247);
    /* border-top: solid rgb(161, 161, 161) 1px; */

    text-align: center;
    /* opacity: 0.4; */
}

/* Use a media query to add a break point at 800px: */
@media (min-width: 320px) and (max-width: 480px){
    .about-wraper{
        display: contents;
    }
    .p-about-div, .img-div-about{
      width:90%;
      margin: 0 auto;
    }
    .img-about{
        width: 100%;
    }
    p{
        margin: 0 auto;
        width: 100%;
        margin-top: 20px;
       
    }
    .img-about{
        width: 350px;
    }

    .social-icon{
        background-color: white;
    }
  }
