

.img-card1{
    border: solid rgb(167, 167, 167) 1px;
    -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  
}

.img-card1:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    box-shadow: 0px 1px 10px 1px #616161;
    
  }

  .cat-divs{
    height: auto;
    /* background-color: gray; */
    object-fit: cover;
    margin: 0 auto;
    margin-top: 10px ;
    /* padding-left: 5px; */
    padding: 0px; 
    /* border: solid white 6px; */
    /* margin-left: 3px;
    margin-right: 3px; */
    
  }
.container-div-cards{
  margin: 0 auto;
  margin-top: 40px;
  max-width: 1200px;
  border-top: solid rgb(218, 218, 218) 1px;
  /* padding-left:0px ; */
  /* padding-top: 20px; */
  /* background-image: url('../../Navbar-user/background.png'); */
}

.header-portfolio{
  color: rgb(199, 130, 73);
    font-size: 26px;
    height: 36px;
    padding-top: 10px;
    /* margin-left: 30px; */
    width: 100%;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

  .row-portfolio{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: 10px ;
    width: 80%;
    max-width: 1200px;
    padding-bottom: 20px;
  }

  .image-overlay {
    margin: 0 auto;
    display: block;
    width: 90%;
    height: auto;
    box-shadow: 0px 4px 8px 0px gray;
    
  }
  
  .overlay {
    position: absolute;
    margin: 0 auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 90%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(186, 127, 0);
  }

  .cat-divs:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: rgb(209, 209, 209);
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

 /* Responsive layout - makes a two column-layout instead of four columns */

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
  
  
}

@media screen and (max-width: 1050px) {
  
  
}