.main-contact-div{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
    max-width: 1440px;
    /* border: solid rgb(187, 187, 187) 1px; */
    padding-bottom: 40px;
}

.contact-div{
    margin-top: 20px;
    margin: 0 auto;
    max-width: 1440px;
    background-image: url('../../Navbar-user/background.png');
}

/* .contact-header{
    width: fit-content;
    
    height: 40px;
} */

.header-h2{
    color: rgb(199, 100, 19);
    font-size: 36px;
    height: 36px;
    padding-top: 10px;
    margin-left: 30px;
    width: 100%;
    max-width: 1440px;
    /* border: solid rgb(197, 197, 197) 1px; */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

.img-contact-div{
    float: left;
    margin-top: 20px;
    width: fit-content;
    /* border: solid rgb(190, 190, 190) 1px; */
}
.p-tag-contact{
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(97, 97, 97);
    width: 300px;
    text-align:center;
    background-color: rgb(247, 247, 247);
    border-top: solid rgb(161, 161, 161) 1px;
}

.contact-form{
    /* margin-top: 20px; */
    margin-left: 30px;
    width: 60%;
    /* background-color: rgba(177, 100, 27, 0.192); */
    
    /* border: solid rgb(202, 202, 202) 1px; */
}

.form-input{
    margin-top: 0px;
    display: block;
    width: 100%;
}

.form-label{
    margin-top: 10px;
    color: rgb(197, 197, 197);
}

.btn-contact{
    background-color: rgb(199, 100, 19);
    margin-top: 10px;
}