.main-contact-div{
    padding: 0px;
    display: flex;
    justify-content: left;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    /* border: solid rgb(187, 187, 187) 1px; */
    padding-bottom: 40px;
    border-bottom: solid rgb(218, 218, 218) 1px;
}

.contact-div{
    margin-top: 40px;
    margin: 0 auto;
    max-width: 1200px;
    /* background-image: url('../../Navbar-user/background.png'); */
}

/* .contact-header{
    width: fit-content;
    
    height: 40px;
} */

.header-h2{
    color: rgb(197, 127, 70);
    font-size: 26px;
    height: 36px;
    padding-top: 10px;
    /* margin-left: 30px; */
    width: 100%;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.img-contact-div{
    /* float: left; */
    margin-top: 20px;
    width: fit-content;
    /* border: solid rgb(190, 190, 190) 1px; */
}

.img-contact{
    width: 400px;
}
.p-tag-contact{
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(97, 97, 97);
    font-weight: 300;
    word-spacing: 1.6px;
    width: 400px;
    font-size: 17px;
    text-align:center;
    background-color: rgb(247, 247, 247);
    /* border-top: solid rgb(161, 161, 161) 1px; */
}

.contact-form{
    /* margin-top: 20px; */
    margin-left: 30px;
    width: 100%;
    /* background-color: rgba(177, 100, 27, 0.192); */
    
    /* border: solid rgb(202, 202, 202) 1px; */
}

.form-input{
    margin-top: 0px;
    display: block;
    width: 100%;
}

.form-label{
    margin-top: 10px;
    color: rgb(78, 78, 78);
}

.btn-contact{
    background-color: rgb(199, 100, 19);
    margin-top: 10px;
}

@media screen and (max-width:600px) {
    .main-contact-div{
        display: contents;
    }
    .p-about-div, .img-div-about{
      width:90%;
      margin: 0 auto;
    }

    .img-contact{
        width: 350px;
        margin: 0 auto;
    }
  }