.footer{
    border-top:solid  rgb(221, 221, 221) 10px;
    color: rgb(199, 199, 199);
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1440px;
    /* height: 20px; */
    /* border: solid black 1px; */
    margin: 0 auto; 
    margin-top: -18px;
    padding-bottom: 20px; 
}

.copyright{
    padding-top: 10px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    /* color: rgb(199, 100, 19); */
    color: rgb(192, 192, 192);
}

  