.nav-main {
  margin: 0 auto;
  display: flex;
  padding-left: 0px;
  /* padding-top: 10px; */

  height: 30px;
  /* justify-content: left; */
  /* margin-top: 80px; */
  width: 80%;
  background-color: #ffffff;
  border-bottom: solid #854b09 4px;
  /* box-shadow: 4px 4px 6px #8b8b8b; */
}
.WNP-center{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  top :4px;
  border-right: solid white 1px;
  border-left:solid white 1px;
  position: relative;
  color: #e28b27;
  
  /* padding-top: 20px; */
}
.nav-link{
  color: rgb(73, 73, 73);
  padding: 0px;
  font-size: 16px;
  padding-bottom: 0px;
  padding-top: 3px ;
  width: 100px;
}

.nav-main ul{
  display: flex;
}

ul{
  padding-left: 0px;
  width: fit-content;
}

.nav-item1{
  padding: 0;
  margin-top: 3px;
  transition: 0.3s;
  border: none;
}

.nav-link:hover{
  transform: scale(1.1);
  text-decoration-line: underline;
  color: rgb(167, 74, 12);
}



@media screen and (max-width: 600px) {
  .nav-main{
      margin-top: 76px;
      
  }
  }
