.nav-main {
  display: flex;
  padding-top: 26px;
  height: 46px;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  width: 100%;
  background-color: #c46110;
  border-bottom: solid #616161 4px;
  /* box-shadow: 4px 4px 6px #8b8b8b; */

}

.nav-main ul{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0px;
  list-style-type: none;  
}

.nav-item1{
  padding-top: 2px;
  transition: 0.3s;
}

.nav-item1:hover{
  background-color:#1091c4;
  color: white;
}

@media screen and (max-width: 600px) {
  .nav-main{
      margin-top: 70px;
      
  }
  }
